<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> WazzApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Inbox </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input placeholder="Enter Destinatario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter Emisor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter mensage"></ion-input>
    <ion-button>Enviar</ion-button>
  </ion-item>
</ion-content>
